{##
# HTML
#}
{% if __SELF__.property('includeHTML') %}
	{#
	GRID 
	#}
	<div class="grid">

		{% for ship in ships %}
			<div class="grid-item">

				
				{% set image = ship.image|mediathumb_resize('width', 350) %}
				{#{%  if image %}#}
					<div class="featured-images text-center "> 
						<div class="background-box ratio-16-9" 
								style="display:block; background-image: url({{ image }});" 
								title="{{ image.description }}">
						</div>
					</div>
				{#{% endif %}#}
				<div class="card-block">
					<h4 class="card-title text-xs-center text-serif">{{ ship.name }}</h4>
					<div class='latest-blog-ships-content-container'>
						<table class="table table-striped">
							<tbody>
								<tr>
									<td>LOA:</td>
									<td>{{ship.yearbuilt}}</td>
									<td>Built: </td>
									<td>{{ship.yearbuilt}}</td>
									
								</tr>
								<tr>
									<td>DWCC:</td>
									<td></td>
									<td>Cranes:</td>
									<td></td>
								</tr>
								<tr>
									<td>IMO Nr.:</td>
									<td></td>
									<td>Beam:</td>
									<td></td>
								</tr>
								<tr>
									<td>Flag:</td>
									<td></td>
									<td>Type:</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		{% endfor %} 
	</div>
{% endif %}


{##
# JavaScript
#}
{% if __SELF__.property('includeJavaScript') %}
	<script>
		/**
		* INIT
		*/
		var {{ str_camel(__SELF__.alias) }}Init = function (selector) {

			console.log('Fleet Init', selector)

			$('.grid').masonry({
				itemSelector: '.grid-item',
				columnWidth: 350,
				isFitWidth: true,
				gutter:30
			});
			
		}	
	</script>

{% endif %}
